<!--The content below is only a placeholder and can be replaced.-->


<div style="text-align:center">
    <nav>
        <a [routerLink]="['/']">Home</a> |
        <a [routerLink]="['/seattle']">Seattle WA</a> |
        <a [routerLink]="['/sanjose']">San Jose CA</a> |
        <a [routerLink]="['/burbank']">Burbank CA</a> |
        <a [routerLink]="['/dallas']">Dallas TX</a> |
        <a [routerLink]="['/washington']">Washington DC</a> |
        <a [routerLink]="['/chicago']">Chicago IL</a>

    </nav>
    <h1>{{ title }}</h1>
</div>

<router-outlet></router-outlet>
